name: Deploy Portofolio

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.REMOTE_HOST }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/yusuf-portofolio
            git pull origin main
            docker build -t portofolio-ku .
            docker stop web-porto || true
            docker rm web-porto || true
            docker run -d -p 80:3000 --restart unless-stopped --name web-porto portofolio-ku
            docker image prune -f
